img {
    width: 70px;
    margin: 5px;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
}

#gallery img:first-child {
    border-top: none;
}

#gallery img:last-child {
    border-bottom: none;
}

#gallery {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

